.fam_levelone .fam_card {
  background-color: #eee;
}

.fam_leveltwo .fam_card {
  background-color: #ddd;
}

.fam_levelthree .fam_card {
  background-color: #ccc;
}

.fam_levelfour .fam_card {
  background-color: #bbb;
}

.fam_levelfive .fam_card {
  background-color: #aaa;
}

.fam_card {
  border: 2px outset gray;
  line-height: 1.5em;
  overflow: auto;
}

ul.fam_menu {
  display: block;
  /*float: right;*/
}

ul.fam_menu li {
  display: inline;
  border: 1px gray solid;
  /*border-bottom: none;*/
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: #eee;
  font-size: smaller;
  padding: 3px 5px;
  margin: 0 5px;
  /*float: right;*/
}

.fam_partner, .fam_marr_card {
  margin: 0 0 10px 20px;
  padding: 5px 20px;
  border: 1px solid gray;
  border-radius: 10px;
}

.fam_tree {
  padding: 5px 0px 5px 5px;
  border: 5px ridge #eee;
  border-right: none;
  border-left: none;
  /*border-bottom: 1px solid gray;*/
  /*border-radius: 10px;*/
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 0;
}
